/* ALL -------------------------------------------------------- */

*{
  margin: 0;
  font-family: "Helvetica", serif;
  padding: 0;
  box-sizing: border-box;
  color: #121212;
}

::selection{
    color: #fff;
    background-color: #dcd1e2;
}

body {
    background-color: #cec7d061;
    background-size: 4%;
}

.rubik-bubbles-regular {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
}


.jura-uniquifier {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


#cloud_back{
    background-image: url(../image/cloud.png);
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -20vh;
}

.gap {
    height: 100px;
}



/* STYLES DESKTOP ----------------------------------------------------------------- /

/ HEADER */
#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    transition: top 0.3s;
}

#header_hidden {
    visibility: hidden;
}

.logo_nav {
    height: 100%;
    text-decoration: none;
}

nav {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 20px;
    
}


nav ul, nav a {
    display: flex;
    font-weight: bold;
    gap: 15px;
    border-radius: 15px;
    padding: 10px 15px;
    
}
@media screen and (min-width: 576px) {
nav ul, .logo_nav{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    border: 1px solid rgba(255, 255, 255, 0.26);
}
}
@media screen and (max-width: 575px) {
nav ul, .logo_nav{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.26);
}
}

ul{
    display: flex;
    flex-direction: column;
    margin-top: 30vh;
}

#accueil_ul{
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
}

nav li {
    display: flex;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    position: relative;
}

nav ul li.active a {
    font-weight: bold;
    color: #121212;
}

nav ul li.active a::after {
    content: "";
    position: absolute;
    border-radius: 20px;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: #121212;
}

nav ul li a::after {
    content: ""; 
    position: absolute;
    right: 100%;
    bottom: 0px;
    width: 0;
    height: 2px;
    background-color: #121212;
    transition: all 0.3s ease;
}

nav ul li a:hover::after {
    right: 0;
    width: 100%; 
}

/* Bouton menu (hidden) */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
    position: relative; 
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #121212;
    margin: 5px 0;
    transition: all 0.3s ease;
    border-radius: 2px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title_index{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10%;
    color: #fff;
    font-size: 12vh;
}

h2{
    display: flex;
    justify-content: center;
    margin: 6vh;
    margin-left: 15vw;
    margin-right: 15vw;
    text-align: center;
}

#direct_carte{
    display: flex;
    justify-self: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 20vh;
    padding-left: 20vh;
    border-radius: 40px;
    background-color: #B4D6F1;
    border-style: none;
    box-shadow: #2f2e2e 2px 2px 2px;
}

#direct_carte a{
    text-decoration: none;
    font-size: x-large;
    color: #fff;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* CARTE FRANCE */

#map { 
    grid-column: 1/2;
    height: 100vh; 
    width: 100%;
    transition: all 0.7s ease;
    position: relative;
}

#sliderContainer {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255,255,255,0.9);
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    z-index: 999;
}


#monthLabel {
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 8px;
}

.side_volet{
    display: grid;
    grid-template-columns: 3fr 5fr 1fr;
    grid-template-rows: 3fr 2fr 2fr;
    background-color: #dcd1e2;
    grid-column: 2/3;
    box-shadow: 0 6px 500px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.graph{
    background-color: #9d98a0;
    border-radius: 40px;
    grid-column: 1/2;
    margin: 1vw;
}

.text_graph{
    background-color: #dcd1e2;
    grid-column: 2/3;
    margin: 1vw;
    font-size: x-small;
    padding: 4%;
}

#cross{
    display: flex;  
    grid-column: 3/4;
    grid-row: 1/2;
    margin: 20%;
}

#cross1{
    position: absolute;
    rotate: 45deg;
    color: #848086;
}

#cross2{
    position: absolute;
    rotate: -45deg;
    color: #848086;
}

/* SIDEBAR */

.sidebar {
  position: fixed;
  right: -66.67%;
  top: 0;
  width: 66.67%;
  height: 100vh;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.7s ease;
  z-index: 1000;
  padding: 0px;
  padding-left: 5px;
  box-sizing: border-box;
  border-radius: 20px 0px 0px 20px;
}

.sidebar.open {
  right: 0;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

#map.sidebar-open {
    width: 33.33%;
    margin-left: 0;
}

/* Page membres et tout */

#info_page{
    background-image: url(../image/clouds_again.jpg);
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -1vh;
    background-attachment: fixed;
}

.membres{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 2fr 1fr;
    margin-top: 25vh;
}

.blue_contener{
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
}

.white_contener{
    display: flex;
    text-align: start;
    border-radius: 30px;
    padding: 10px;
    flex-direction: column;
}

.mb_image{
    display: flex;
    justify-content: center;
    border-radius: 30px;
}

.no_contener{
    display: flex;
    justify-content: center;
}

#bl1{
    grid-column: 3/6;
}

#bl2{
    background-image: url(../image/paint.png);
    background-repeat: no-repeat;
    background-size: 88%;
    background-position: center;
    padding: 2vw;
    grid-column: 2/7;
    margin-top: 5vh;
    margin-left: 7vw;
    margin-right: 7vw;
    padding-left: 22vw;
    padding-right: 22vw;
}

#mb_im2{
    grid-column: 3/4;
    width: 160%;
    margin-top: 10vh;
}

#wh1{
    background-image: url(../image/paint.png);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center;
    grid-column: 4/7;
    margin-top: 5vh;
    margin-left: 12vw;
    padding: 15vh;
}

#bl3{
    grid-column: 3/6;
    margin-top: 5vh;
}

#bl4{
    grid-column: 2/3;
    margin-top: 5vh;
    width: 100%;
}

#bl5{
    grid-column: 4/5;
    margin-top: 5vh;
    width: 100%;
}

#bl6{
    grid-column: 6/7;
    margin-top: 5vh;
    width: 100%;
}

#nc1{
    grid-column: 2/3;
    margin-top: 5vh;
    width: 100%;
    height: 35%;
}

#nc2{
    grid-column: 4/5;
    margin-top: 5vh;
    width: 100%;
    height: 35%;
}

#nc3{
    grid-column: 6/7;
    margin-top: 5vh;
    width: 100%;
    height: 35%;
}

#nc4{
    display: flex;
    justify-content: space-between;
    grid-column: 2/7;
    margin-top: -2vh;
    width: 96%;
    margin-left: 4vw;
}

#nc5{ 
    grid-column: 2/7;
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
}

#nc6{    
    grid-column: 2/7;
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
}

#p_fin{
    display: flex;
    justify-self: flex-end;
    font-size: large;
    margin: 3vw;
}

#bl4 img, #bl5 img, #bl6 img{
    border-radius: 30px;
    object-fit: cover;
    width: 25vw;
}

#nc5 img, #nc6 img{
    width: 40vw;
}

.blue_contener h1{
    font-size: 4vw;
    font-weight: 100;
    color: #fff;
    font-family: Rubik Bubbles;
}

.blue_contener h2{
    font-size: large;
    margin: 1vw;
    font-family: Jura;
}

.white_contener h1{
    font-size: large;
    padding: 2%;
    font-family: Jura;
}

.white_contener h2{
    font-size: small;
    margin: 1vw;
    text-align: left;
    font-family: Jura;
}

.no_contener h1{
    font-size: xx-large;
    margin: 2vw;
    font-family: Jura;
}

.no_contener p {
    font-size: x-large;
    font-family: Jura;
}

hr{
    grid-column: 1/8;
    margin-top: 3vh;
    margin-bottom: 4vh;
    color: #000000;
    border-width: 1vh;
}